.card-centro{
    margin: auto;
    margin-top: 2%;
    width: 80%;
}

/* .botao-nova-entrega{ */
    /* margin: auto; */
    /* margin: 2%; */
    /* text-align: center; */
    /* width: 80%; */
/* } */

.botao-nova-entrega {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c1c1c1;
    color: white;
    padding: 1%;
    text-align: center;
 }

.card-extra {
    margin: auto;
    margin-bottom: 2%;
    /* width: 90%; */
}

h1 {
    margin: 2%;
    text-align: center;
}

h5 {
    text-align: center;
}

.criado-em{
    width: 100%;
    text-align: right;
}

.btn {
    margin: 1px;
}

.produto-nao-entregue {
    background-color: #f3baba;
}

.produto-entregue {
    background-color: #c3ffac;
}

.grupo-button{
    margin: 2%;
}