.card-centro{
    margin: auto;
    margin-top: 2%;
    width: 80%;
}

.card-extra {
    margin: auto;
    margin-bottom: 2%;
    /* width: 90%; */
}

h1 {
    margin: 2%;
    text-align: center;
}

.criado-em{
    width: 100%;
    text-align: right;
}

.btn {
    margin: 1px;
}

.produto-nao-entregue {
    background-color: #f3baba;
}

.produto-entregue {
    background-color: #c3ffac;
}

.grupo-button{
    margin: 2%;
}